@charset "utf-8";

/* web font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto:wght@700&family=Shrikhand&family=Single+Day&family=Source+Code+Pro:wght@600&family=Source+Sans+3:wght@600;700&display=swap');

/* defalut */
:root {
    /* Color */
    --white-color: #fff;

    /* Size */
    --side-padding: 12px;

    /* Font Size */
    --font-medium: 12px;
}

/* CSS Document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

/* 스크롤바 효과 */
* {
    scrollbar-width: normal;
    scrollbar-color: #777 #555;
}

* ::-webkit-scrollbar {
    width: 10px;
}

* ::-webkit-scrollbar-thumb {
    background-color: #9cc7ff;
    border-radius: 10px;
}

* ::-webkit-scrollbar-thumb:hover {
    background-color: #67a7fa;
}

* ::-webkit-scrollbar-track {
    background-color: #d1e5ff;
    border-radius: 10px;
}


body {
    font-family: "Noto Sans KR", serif;
    color: #000;
    letter-spacing: -0.5px;
    margin: 0;
    font-size: 1rem;
    cursor: default;
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    font-weight: 400;
}

div,
ul,
ol,
li,
dl,
dt,
dd,
input,
textarea,
select,
h1,
h2,
h3,
h4,
h5,
em,
address,
fieldset,
form,
iframe,
object,
menu,
button {
    font-family: "Poppins", "Noto Sans KR", serif;
    margin: 0;
    padding: 0;
}

img,
fieldset,
iframe {
    border: none;
}

menu,
ul,
ol,
li {
    list-style: none;
}

iframe {
    max-width: 100%;
}

input,
select,
textarea {
    vertical-align: top;
}

input,
select,
textarea {
    border-radius: 0;
}

em,
address {
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

legend,
caption {
    text-indent: -100000px;
    overflow: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}

strong {
    font-weight: bold;
}

img {
    max-width: 100%;
    vertical-align: middle;

}

/* ---------------------------header--------------------------- */

/* 로고 및 타이틀 */
header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #FFFFFF;
  width: 100%;
  box-shadow: 5px 10px 5px -7px #0000001A;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding-top: 20px;
    padding-bottom: 10px; 
    background-color: #FFFFFF;
}

.navbar .bot_menu {
    display: flex;
    position: absolute;
    left: 10vw;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar .bot_menu img {
    width: 52px;
    height: 52px;
}

.navbar .bot_menu .title {
    padding-bottom: 2px;
}

.navbar .bot_menu .title h2{
    font-family: 'Single Day', cursive;
    font-size: 29px;
    color: #409FF1;
}

.navbar .bot_menu .title .accent{
    color: #E8749D;
}

.navbar .bot_menu .title .accent2{
    color: #4b4b4b;
}


/* 메뉴바 */
.navbar .bot_menu .menubar {
    display: flex;
    list-style: none;
    margin-left: 40px;
}

.navbar .bot_menu .menubar li {
    padding: 8px 10px;
}

.navbar .bot_menu .menubar li:hover {
    color: #d49466;
}


/* 마이페이지 */
.navbar .linkes {
    display: flex;
    position: absolute;
    right: 10vw;
    font-size: 32px;
    gap: 10px;
}

.navbar .linkes li {
    padding: 8px 12px;
}

.navbar .linkes .fa-pen {
    color: rgba(0, 0, 0, 0.699);
}

.navbar .linkes .fa-bell {
    color: #ffd900;
}

.navbar .linkes .fa-circle-user {
    color: #1084e9;
}

/*******************/
/* 드랍 다운 메뉴 */
/******************/

/* 1번 드랍 다운 */
.icons-size{
    color: #333;
    font-size: 14px;
}


.action .profile{
    cursor: pointer;
}

.action .menu{
    background-color:#fff;
    box-sizing:0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    border: solid 4px #eee;
    padding: 10px 20px;
    position: absolute;
    right: 3vw;
    width: 200px;
    transition: 0.5s;
    top: 120px;
    visibility: hidden;
    opacity: 0;
}
.action .menu.active{
    opacity: 1;
    top: 80px;
    visibility: visible;
}

.action .menu ul li{
    align-items: center;
    border-bottom: 3px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 10px 0px;
}

.action .menu ul li a{
    display: inline-block;
    color: #555;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

.action .menu ul li:hover a{
    color:#409FF1;
}

.action .menu ul li:hover .icons-size{
    color:#409FF1;
}

/****/
.action .menu2{
    background-color:#fff;
    box-sizing:0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    border: solid 4px #eee;
    padding: 10px 20px;
    position: absolute;
    right: -3vw;
    width: 200px;
    transition: 0.5s;
    top: 120px;
    visibility: hidden;
    opacity: 0;
}
.action .menu2.active{
    opacity: 1;
    top: 80px;
    visibility: visible;
}

.action .menu2 ul li{
    align-items: center;
    border-bottom: 3px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 10px 0px;
}

.action .menu2 ul li a{
    display: inline-block;
    color: #555;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 0.5px;
}

.action .menu2 ul li:hover a{
    color:#409FF1;
}

.action .menu2 ul li:hover .icons-size{
    color:#409FF1;
}

/* ---------------------------footer--------------------------- */


.footer {
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    height: 230px;
    background-color: #eeeeee;
}

