.container {
  display: flex;
  justify-content: center;
}

.board_list_wrap {
  width: 1350px;
  margin-top: 100px;
}

/* 상단부 */
.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

/* 게시판 제목 */
.top .board_name {
  display: flex;
  align-items: center;
}

.top .board_name .fa-solid {
  color: cornflowerblue;
  font-size: 32px;
  margin-right: 12px;
}

/* 게시글 목록 */
.board_list_wrap table {
  border-collapse: collapse;
}

.board_list caption {
  display: none;
}

.board_list {
  width: 1350px;
  border-top: 2px solid black;
}

.board_list a {
  text-decoration: none;
  color: inherit;
}

.board_list tr {
  border-bottom: 1px solid #ccc;
}

.board_list .type,
.board_list .created_at {
  width: 250px;
}

.board_list th,
.board_list td {
  padding: 10px;
  /* border: 1px solid #999; */
}

.board_list td {
  text-align: center;
}


/* .board_list tbody tr td:nth-child(2) {
    text-align: left;
}

.board_list tbody tr td:nth-child(2):hover {
    text-decoration: underline;
} */

.board_list .notice_title {
  text-align: left;
}

.board_list .notice_title:hover {
  text-decoration: underline;
}

.board_list_wrap .board_bot {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 페이지네이션 */
.pagination {
  text-align: center;
  margin: 40px 0 200px 0;
  user-select: none;
}

.pagination li {
  display: inline-block;
  margin: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.pagination li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 45px;
}

.previous-page,
.next-page {
  background: #409ff1;
  width: 80px;
  border-radius: 45px;
  cursor: pointer;
  transition: 0.3s ease;
}

.previous-page:hover {
  transform: translateX(-5px);
}

.next-page:hover {
  transform: translateX(5px);
}

.current-page,
.dots {
  background: #ccc;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.active {
  background: #409ff1;
}

.disable {
  background: #ccc;
}
/* 
.board_list_wrap .paging {
  display: flex;
  margin-top: 30px;
  font-size: 0;
  text-align: center;
  justify-content: center;
  flex: 1;
}

.board_list_wrap .paging * {
  margin: 0 5px;
}

.board_list_wrap .paging a {
  display: inline-block;
  
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 16px;
}


.board_list_wrap .paging .fa-solid {
  color: black;
}

.board_list_wrap .paging a.num {
  border: 1px solid black;
  font-weight: 800;
  color: black;
}

.board_list_wrap .paging a.num.on {
  background: black;
  color: #fff;
}

.board_list_wrap .paging a.num:hover {
  background: black;
  color: #fff;
} */

/* 공지사항 쓰기 버튼 */
.board_list_wrap .top .write {
  display: inline-block;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #c8e4fd;
  color: rgb(52, 52, 253);
}

.board_list_wrap .top .write.active {
  display: block;
}

.board_list_wrap .top .write.active:hover {
  filter: brightness(1.1);
}