/* URL */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto:wght@700&family=Shrikhand&family=Single+Day&family=Source+Code+Pro:wght@600&family=Source+Sans+3:wght@600;700&display=swap');


.pf_container {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 70px;
}

.pf_title_area {
  display: flex;
  justify-content: space-between;
}

.pf_title_area .myinfo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.pf_title_area .myinfo .pf_title {
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 10px;
}

.pf_title_area .myinfo .pf_label {
  display: flex;
  justify-content: flex-start;
  align-items: end;
}

.pf_title_area .myinfo .pf_label .pf_img {
  border-radius: 50%;
  width: 33px;
  height: 33px;
  border: 0.5px solid #eee;
  padding-left: 5px;
}

.pf_title_area .myinfo .pf_label .pf_nickname {
  font-size: 16px;
  letter-spacing: -1px;
  padding-bottom: 4px;
}

.pf_title_area .myinfo .pf_label .pf_creation_date {
  font-size: 13px;
  letter-spacing: -1px;
  margin-left: 30px;
}

.pf_title_area .pf_status {
  display: flex;
  align-items: flex-end;
  margin-bottom: 3px;
  font-size: 20px;
}

.pf_title_area .pf_status p{
  padding-right: 15px;
  padding-left: 5px;
  font-size: 15px;
  letter-spacing: -0.5px;
}

.pf_title_area .pf_status .fa-eye{
  color: rgb(14, 13, 13);
}

.pf_title_area .pf_status .fa-heart{
  color: rgb(231, 128, 231);
}

.pf_title_area .pf_status img{
  width: 22px;
  height: 20px;
  padding-bottom: 1px;
}

.pf_title_area .pf_status .report:hover {
  cursor: pointer;
}

.border {
  width: 100%;
  border-bottom: 2px solid #eee;
  margin: 5px 0;
}

.pf_info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 10px;
  margin-top: 20px;
  gap: 50px;
}

.pf_info .poster_img {
  width: 380px;
  height: 500px;
  margin-bottom: 10px;
  border-radius: 25px;
}

.pf_info .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  max-width: 630px;
  width: 100%;
}

.pf_info .column .detail_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pf_info .column .detail_info li {
  display: flex;
  width: 48%;
  text-align: center;
  gap: 12px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding-bottom: 5px;
}

.pf_info .column .detail_info li .accent {
  font-size: 18px;
  color: #459FEE;
  line-height: 1;
  font-family: sans-serif;
  font-weight: 900;
  margin-bottom: 12px;
}

.pf_info .column .pf_intro {
  margin-top: 50px;
  max-width: 630px;
  width: 100%;
}

.pf_info .column .pf_intro h4 {
  font-size: 24px;
  max-width: 630px;
  width: 100%;
}

.pf_info .column .pf_intro .introduce {
  font-size: 18px;
  padding: 5px;
  max-width: 630px;
  width: 100%;
  height: 240px;
  overflow: auto;
  line-height: 1.8;
  outline: none;
  resize: none;
  border: none;
}

/***************/
/* 본문 하단 버튼 */
/***************/
.pf_container .button_wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.button_wrap button {
  background-color: #459fee;
  border: 1px solid #ccc;
  border-radius: 50px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  width: 80px;
  height: 50px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  outline: none;
  /* touch-action: manipulation;
  transition: filter 0.2s; */
  margin: 5px;
}

.button_wrap .delete_btn {
  background-color: palevioletred;
}

.button_wrap .delete_confirm {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 150px;
  background-color: #fff;
  border: 2px solid #459fee;
  border-radius: 10px;
  z-index: 10;
  padding: 10px;
  gap: 15px;
}


.delete_confirm #confirmDelete {
  background-color: palevioletred;
}

/************/
/*   댓글   */
/************/

.center_display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment_container {
  margin: 0 auto;
  margin: 80px 50px;
}

.comment_container .top {
  max-width: 1000px;
  width: 100%;
  height: 190px;

}

.comment_container .top form {
  display: flex;
  justify-content: flex-end;
  /* align-items: flex-end; */
  flex-wrap: wrap;
}

form .write_comment {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  padding: 10px 0px;
}

form .write_comment .form_info {
  width: 100%;
}

.form_info textarea {
  border: 3px solid #aaa;
  border-radius: 20px;
  background: transparent;
  max-width: 1000px;
  width: 100%;
  height: 150px;
  font-size: 18px;
  padding: 15px 10px;
  resize: none;
  outline: none;
}

.form_info input::placeholder {
  color: #ddd;
}

.top img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.top .comment_img {
  width: 60px;
  height: 60px;
  border: 1.2px solid #aaa;
  border-radius: 50px;
  margin-right: 15px;
}

.top button {
  background-color: #459fee;
  border: solid transparent;
  border-radius: 50px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  width: 80px;
  height: 50px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  outline: none;
  touch-action: manipulation;
  transition: filter 0.2s;
}
/* 
.top button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.top button:disabled {
  cursor: auto;
}

.top button:active {
  border-width: 4px 0 0;
  background: none;
} */

/* COMMENTS */
.comments_container {
  max-width: 980px;
  width: 100%;
  margin-top: 30px;
}

.comment_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border-bottom: 1px solid #aaa;
}

.comment_card .comment_top {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.comment_card .comment_top .comment_info {
  display: flex;
  flex-direction: row;
}

.comment_card .comment_top .pic {
  border: 1px solid #eee;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.comment_info .nickname {
  font-size: 22px;
  margin: 0px;
}

.comment_info .created_date {
  font-size: 18px;
  color: gray;
  
}

.comment_card .comment_btns button {
  background-color: #e2eefc;
  border: 0px solid #eee;
  border-radius: 5px;
  color: #666;
  font-size: 14px;
  cursor: pointer;
  margin: 0px 3px;
  padding: 3px 10px;
}

.comment_card .comment {
  border: none;
  border-radius: 20px;
  color: #666;
  width: 100%;
  font-size: 18px;
  padding: 18px 10px;
  resize: none;
  outline: none;
  overflow: hidden;
  
}

